# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
md5_t
gbdhash
cnftools

build/
build*/
debug/
asan/
# in-source cmake build artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
.vscode/
uninstall.info
dist/
gbdc.egg-info/
.idea/
build-artifacts*.zip
*.zip
benchmarks/
test.cnf
test.db
Testing/
test.sh
key
.eggs/
key.pub
benchmarks/
test.sh
build.sh
Testing/
data.csv
# autotools output
configure
makefile
config.*
autom4te.cache
conf.*
gbd-*
gbdc
test/tests_feature_extraction
test/tests_gbdlib
test/tests_ishohash2
test/tests_streambuffer
test/tests_streamcompressor
